__pycache__/
.idea/
.ipynb_checkpoints/
*.py[cod]
*.so
*.orig
*.o
# why ignore json
# *.json
*.pth
*.npy
*.ipynb

# graphviz
*.dot
*.svg
*.eps

# macOS
.DS_Store

# mesh
*.ply

# images
*.png
*.jpg
*.jpeg
*.gif
.fuse*
*.tar.gz
*.pkl
*.swp

*.obj
*.mtl
*.blend
*.blend1
*.npz

*.xls
*.xlsx
condaenv*
*.hdr

data
*.pdf
model_graph
